<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2 text-center">
                <h1>{{msg}}</h1>
                <form action="/">
                    <button type="submit" class="btn btn-primary" id="btn-scrape">Back to article list</button>
                </form>
            </div>
        </div>
    </div>
</div>